.Login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border: 2px solid green;
}

.Login-section {
    flex-grow: 2;
    height: 100%;
    border: 2px solid red;
}

.Signup-section {
    flex-grow: 2;
    height: 100%;
    border: 2px solid blue;
}